.common-tab {
  font-size: 14px;
  padding: 20px 20px 0px;
}

.setting-item-title {
  color: var(--text_primary);
  font-weight: var(--font-bold);
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  margin: 0px 0px 8px 16px;
}

.converter {
  align-items: center;
  background-color: var(--fill_light_primary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  position: relative;
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  padding: 12px 16px;
}

#converterSelect {
  width: 150px;
  border-radius: 4px;
  border-color: #ebebeb;
  font-size: 13px;
  padding: 2px 8px;
}
